.comment {
  display: flex;
  align-items: start;
}

.comment .comment-picture {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-right: 10px;
  flex-shrink: 0;
}

.comment .comment-text {
  background-color: #eee;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 10px;
}

.comment .comment-author {
  margin-right: 5px;
}